@using FirstApp.Models;
@page "/nasa-apod" 
@using FirstApp.Clients;
@inject NasaClient NasaClient;
@using FirstApp.Shared.Components;

<pagetitle>
    Nasa Apod
</pagetitle>

<p >Enter date for NasaApod record:</p>
<input placeholder = "Check Date" @bind = "newDate"/> <!--bind method to variable newDate-->
<button @onclick="OnInitializedAsync">Check</button> 

<Header title="@nasaResponse.title" subTitle="@nasaResponse.date" description="@nasaResponse.explanation" />
<br>
<NasaImageSection imgUrl="@nasaResponse.url" hdUrl = "@nasaResponse.hdurl" copyright="@nasaResponse.copyright" />


@code {
    private NasaResponse? nasaResponse = null;
    protected override async Task OnInitializedAsync(){
        nasaResponse = await NasaClient.GetNasa(newDate);
    }
    private string? newDate;
}
