@using FirstApp.Models;
@page "/nasa-apod" 
@using FirstApp.Clients;
@inject NasaClient NasaClient;
@using FirstApp.Shared.Components;

<pagetitle>
    Nasa Apod
</pagetitle>

<Header title="@nasaResponse.title" subTitle="@nasaResponse.date" description="@nasaResponse.explanation" />
<br>
<NasaImageSection imgUrl="@nasaResponse.url" hdUrl = "@nasaResponse.hdurl" copyright="@nasaResponse.copyright" />

<!--<p>@nasaResponse</p>-->

<input placeholder = "Add Task" @bind = "newTodo"/> <!--bind method to variable newTodo-->
<button @onclick="Add">Add</button>

@code {

    private NasaResponse? nasaResponse = null;
    protected override async Task OnInitializedAsync(){
        nasaResponse = await NasaClient.GetNasa();
    }

}
